

@{
    ViewData["Title"] = "Gestión de Productos";
}

<div class="text-left">
    <h1>Gestión de Productos</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="@Url.Action("GetAll", "Product")">Ver lista completa de productos</a></li>
        <li class="list-group-item">
            <form action="@Url.Action("GetById", "Product")" method="get">
                <label for="productId">Ver producto por ID:</label>
                <input type="text" id="productId" name="id" required />
                <button type="submit">Ver Producto</button>
            </form>
        </li>
        <li class="list-group-item">
            <form action="@Url.Action("Delete", "Product")" method="post">
                <label for="deleteId">Borrar producto por ID:</label>
                <input type="text" id="deleteId" name="id" required />
                <button type="submit">Borrar Producto</button>
            </form>
        </li>
        <li class="list-group-item"><a href="@Url.Action("Edit", "Product")">Modificar un producto</a></li>
    </ul>
</div>

