@{
    ViewData["Title"] = "Todos los Productos";
}
@model List<Producto>;

<section class="container" >
    <table class="table table-hover" id="tabla-productos">
        <thead>
        <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Producto producto in Model)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
            </tr>
        }

        </tbody>
    </table>
    <button type="button" class="btn btn-secondary"> <a href="@Url.Action("Index", "Producto")" >Volver</a> </button>
    
</section> 