@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<section class="conteiner">
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-controller="Producto" asp-action="Index">Productos</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Presupuesto" asp-action="Index">Presupuestos</a>
        </li>
                <li class="list-group-item">
            <a asp-controller="Cliente" asp-action="Index">Clientes</a>
        </li>
    </ul>

</section>
