@{
    Layout = "_Layout"; // Puedes usar la plantilla de la aplicación, o dejarlo vacío si no tienes layout
}

<h2>Error</h2>
<p>@ViewData["ErrorMessage"]</p>
<button type="button" class="btn btn-secondary"> <a href="@Url.Action("Index", "Cliente")" >Volver</a> </button>
