@{
    ViewData["Title"] = "Gestión de Presupuestos";
}
<section class="container">
    <div class="text-left">
        <h1>Gestión de Presupuestos</h1>
        <ul class="list-group">
            <li class="list-group-item"><a asp-controller="Presupuesto" asp-action="GetAll">Ver lista completa de
                    presupuestos</a>
            </li>
            <li class="list-group-item">
                @* hace referencia al nombre de la funcion en el controlador *@
                <form asp-controller="Presupuesto" asp-action="GetById" method="get">
                    <label for="productId">Ver presupuesto por ID:</label>
                    <input type="text" id="productId" name="id" required />
                    <button type="submit">Ver Presupuesto</button>
                </form>
            </li>
            <li class="list-group-item">
                <a asp-controller="Presupuesto" asp-action="Create">Crear un nuevo presupuesto</a>
            </li>
            <li class="list-group-item">
                <form asp-controller="Presupuesto" asp-action="Edit" method="get">
                    <label for="productId">Modificar un presupuesto por ID:</label>
                    <input type="text" id="productId" name="id" required />
                    <button type="submit">Ir</button>
                </form>
            </li>
            <li class="list-group-item">
                <form asp-controller="Presupuesto" asp-action="Delete" method="get">
                    <label for="deleteId">Borrar presupuesto por ID:</label>
                    <input type="text" id="deleteId" name="id" required />
                    <button type="submit">Borrar Presupuesto</button>
                </form>
            </li> 
            <li class="list-group-item">
                <form asp-controller="Presupuesto" asp-action="AddProductoEnPresupuesto" method="get">
                    <label for="productId">Agregar producto al presupuesto:</label>
                    <input type="text" id="productId" name="id" required />
                    <button type="submit">Ir a Agregar Producto</button>
                </form>
            </li>
        </ul>
    </div>
        <button type="button" class="btn btn-secondary mt-4">
        <a href="@Url.Action("Index", "Home")" class="text-white text-decoration-none">Volver</a>
    </button>
</section>
